@charset "UTF-8";
/* CSS Document */

$color-one: gainsboro;
$color-two: cyan;
$color-three: khaki;
$color-four: darkkhaki;

:root{
	--primary-color: #357b70;
}

body {
	font-family: 'Newsreader', "Lucida Bright", "serif";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.8;
}

*{
	box-sizing: border-box;
}

div {
	margin: 10px;
	padding: 10px;
}

svg {
	width: 30px;
	height: 30px;
}

nav a {
	display: inline;
}

h1 {
	font-size: 40px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 400px;
}

h3 {
	font-size: 12px;
	font-weight: 700;
}

a {
	color: var(--primary-color);
}

a:hover {
	text-decoration: none;
}

a:visited{
	color: #05676e;
}

a:hover a:focus{
	color: #489c79;
}

button,
.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #357b70;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition-duration: 0.2s;
	transistion-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus{
	cursor: pointer;
	opacity: 0.8;
}

/********CLASSES***********/

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile > *{
	margin: 0 auto;
}

svg{
	width: 100%;
	height: 50%;
}
.profile__portrait{
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

.button_secondary{
	background-color: #e0b354;
	color: #2b2b2b;
}

.page-header{
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item{
	flex: 0 1 200px;	
}

.page-header__item:last-child{
	flex-grow: 1;
	text-align: right;
}

.page-footer{
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.grid{
	display:grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 20px;
}

.grid__item{
	background-color: lightgray;
}

/*NAV LINK STYLING */
.navigation-list{
	list-style-type: none;
}

.navigation-list li{
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active{
	text-decoration: none;
}

@keyframes color-change{
	0%{
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front{
	animation-duration: 30s;
	animation-name: cloud-move;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.cloud-back{
	animation-duration: 34s;
	animation-name: cloud-move-reverse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to{
		transform: translate(100px, 48px);
	}
}

/****************/
/***************/

.state_ani{
	animation-duration: 5s;
	animation-name: state-ani;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes state-ani {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(-700px, 50px);
	}
	
	0%{
		fill: #edc655;
	}
	50% {
		fill: #b93220;
	}
	100% {
		fill: #f76414;
	}
}
#demo-tiger{

}

/**********MEDIA RULES*******/
@media all and (min-width: 5px) and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 750px){
	.grid {
		grid-gap: 10px;
  }
  .grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
	h1 {
		font-size: 22px;
	}
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

