
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
/* CSS Document */

$color-one: gainsboro;
$color-two: cyan;
$color-three: khaki;
$color-four: darkkhaki;

body {
	font-family: 'Newsreader', "Lucida Bright", "serif";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.8;
}

*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

div {
	margin: 10px;
	padding: 10px;
}

svg {
	width: 30px;
	height: 30px;
}

nav a {
	display: inline;
}

h1 {
	font-size: 40px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 400px;
}

h3 {
	font-size: 12px;
	font-weight: 700;
}

a {
	color: #357b70;
}

a:hover {
	text-decoration: none;
}

a:visited{
	color: #05676e;
}

a:hover a:focus{
	color: #489c79;
}

button,
.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #357b70;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	transistion-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus{
	cursor: pointer;
	opacity: 0.8;
}

/********CLASSES***********/

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.profile > *{
	margin: 0 auto;
}

svg{
	width: 100%;
	height: 50%;
}
.profile__portrait{
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}

.button_secondary{
	background-color: #e0b354;
	color: #2b2b2b;
}

.page-header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header img{
	width: 90px;
}

.page-header__item{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;	
}

.page-header__item:last-child{
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.page-footer{
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.grid{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns: 33% 20px 33% 20px 33%;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 20px;
}

.grid__item{
	background-color: lightgray;
}

/*NAV LINK STYLING */
.navigation-list{
	list-style-type: none;
}

.navigation-list li{
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active{
	text-decoration: none;
}

@-webkit-keyframes color-change{
	0%{
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change{
	0%{
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.cloud-front{
	-webkit-animation-duration: 30s;
	        animation-duration: 30s;
	-webkit-animation-name: cloud-move;
	        animation-name: cloud-move;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

.cloud-back{
	-webkit-animation-duration: 34s;
	        animation-duration: 34s;
	-webkit-animation-name: cloud-move-reverse;
	        animation-name: cloud-move-reverse;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to{
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to{
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

/****************/
/***************/

.state_ani{
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-name: state-ani;
	        animation-name: state-ani;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes state-ani {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(-700px, 50px);
		        transform: translate(-700px, 50px);
	}
	
	0%{
		fill: #edc655;
	}
	50% {
		fill: #b93220;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes state-ani {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(-700px, 50px);
		        transform: translate(-700px, 50px);
	}
	
	0%{
		fill: #edc655;
	}
	50% {
		fill: #b93220;
	}
	100% {
		fill: #f76414;
	}
}
#demo-tiger{

}

/**********MEDIA RULES*******/
@media all and (min-width: 5px) and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 50% 10px 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 750px){
	.grid {
		grid-gap: 10px;
  }
  .grid__item:last-child {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
	h1 {
		font-size: 22px;
	}
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}